altgraph==0.17.4
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
iniconfig==2.1.0
packaging==25.0
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==11.3.0
pluggy==1.6.0
pycparser==2.22
Pygments==2.19.2
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.5
PyMuPDF==1.26.3
pypdfium2==4.30.1
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pytest==8.4.1
setuptools==80.9.0
